{% extends "__layout.twig" %}
{# {% block content %}
<pre>
    user= {{ dump(user[0]) }}
</pre>
{% endblock %} #}
{% block content %}
<div style="width: 100%; height: 100%; position: fixed; top: 0; left: 0; display: flex; align-items: center; align-content: center; justify-content: center; overflow: auto;">
    <form action="" method="POST" class="row g-3">
        <div class="col-4" style="margin-bottom: 8px;">
            <label style="margin-right: 7px;" class="form-label">Логин</label>
            <input type="text" class="form-control" name="login" required>
        </div>
        <div class="col-4" style="margin-bottom: 8px;">
            <label class="form-label">Пароль</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <div style="display: flex;">
            <div class="col-12 text-end" style="justify-content: center; margin-left:95px;">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

